#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf > #backgroundBox {
  position: absolute;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf > #alignmentBox {
  position: relative;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 {
  position: absolute;
  width: 550.0px;
  min-height: 58.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_5 {
  position: absolute;
  width: 150.0px;
  height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_5 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 75.02812500000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_1 {
  position: absolute;
  width: 99.99999999999989px;
  height: 74.99999999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_1 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_35 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_35 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Image_4 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 {
  box-shadow: none;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-7c4d2184-92f5-46e2-bf93-721664b6b3cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
