#s-c793a20c-38d0-4ed5-adc1-71ea06db489d > #backgroundBox {
  position: absolute;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d > #alignmentBox {
  position: relative;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 {
  position: absolute;
  width: 338.0px;
  min-height: 267.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #C1BDBD;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 span {
  color: #A39D9D;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #A39D9D;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_2 {
  position: absolute;
  width: 21.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_2 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 {
  position: absolute;
  width: 338.0px;
  min-height: 267.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #C1BDBD;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 span {
  color: #A39D9D;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #A39D9D;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_4 {
  position: absolute;
  width: 21.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_4 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #shapewrapper-s-Line_1 marker {
  fill: #D9D9D9;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #shapewrapper-s-Line_1 {
  position: absolute;
  width: 598.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(-90.0deg);
  -moz-transform: rotate(-90.0deg);
  transform: rotate(-90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Line_1 {
  width: 598.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #D9D9D9;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Line_1 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 {
  position: absolute;
  width: 144.00000000000006px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #999999;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 {
  position: absolute;
  width: 288.0px;
  min-height: 160.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 {
  position: absolute;
  width: 288.0px;
  min-height: 160.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 {
  position: absolute;
  width: 130.99999999999955px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1890FF;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 75.02812500000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_1 {
  position: absolute;
  width: 99.99999999999989px;
  height: 74.99999999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_1 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_35 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_35 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Image_5 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 {
  box-shadow: none;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-c793a20c-38d0-4ed5-adc1-71ea06db489d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
