#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 > #backgroundBox {
  position: absolute;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 > #alignmentBox {
  position: relative;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #shapewrapper-s-Line_1 marker {
  fill: #EFE3E3;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 543.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(-90.0deg);
  -moz-transform: rotate(-90.0deg);
  transform: rotate(-90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Line_1 {
  width: 543.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #EFE3E3;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Line_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 {
  position: absolute;
  width: 273.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 {
  position: absolute;
  width: 199.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 {
  position: absolute;
  width: 292.0px;
  min-height: 288.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 {
  position: absolute;
  width: 166.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1890FF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 {
  position: absolute;
  width: 852.0px;
  height: 214.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 tr.odd {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 tr.even {
  background-color: #F0F0F0;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Header_1 {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 {
  width: 170.0px;
  height: 48.92307692307692px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_1 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #21C0C0;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 {
  width: 170.0px;
  height: 48.92307692307692px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #21C0C0;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 {
  width: 170.0px;
  height: 48.92307692307692px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #21C0C0;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 {
  width: 170.0px;
  height: 48.92307692307692px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_4 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #21C0C0;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 {
  width: 170.0px;
  height: 48.92307692307692px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #21C0C0;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 {
  width: 170.0px;
  height: 54.35897435897436px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 .valign {
  vertical-align: middle;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 {
  width: 170.0px;
  height: 54.35897435897436px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_7 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 .valign {
  vertical-align: middle;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 {
  width: 170.0px;
  height: 54.35897435897436px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_8 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 .valign {
  vertical-align: middle;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 {
  width: 170.0px;
  height: 54.35897435897436px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_9 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 .valign {
  vertical-align: middle;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 .verticalalign {
  vertical-align: top;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 {
  width: 170.0px;
  height: 54.35897435897436px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Row_cell_10 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 .valign {
  vertical-align: middle;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Data_grid_1 .s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 75.02812500000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_1 {
  position: absolute;
  width: 99.99999999999989px;
  height: 74.99999999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_1 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_35 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_35 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Image_4 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 {
  box-shadow: none;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e8f0853f-e925-4d5b-a778-9ed18711bc56 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
